@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "../node_modules/primeflex/primeflex.scss";

@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";


body {
  margin: 0;
  background: #f8f9fa;
}

.container {
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
}

.titulo-header {
  display: flex;
}

.logo {
  width: 110px;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
}

h1 {
  color: #333;
  font-size: weight 700px;
  margin: 0;
  line-height: 1.2
}

.card {
  display: flex;
  background: #fff;
  font-size: 1rem;
  font-weight: normal;
  color: #4b5563;
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 1.25rem;
}

.btnSalvar {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

